<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<rules>
		<!-- Turn off logging by default. Will be overridden by Entity LogSettings.cs -->
		<logger name="*" minlevel="Off" />
	</rules>

	<targets>
		<!-- First block to be default values. Second block is expected to be overridden by Entity LogSettings.cs -->
		<target name="file" xsi:type="File"
				enableArchiveCompression="true"
				layout="${longdate} [${level}] ${message}"
				
				fileName="to_be_overridden.log"
				archiveFileName="to_be_overridden_archive.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="2"
				archiveAboveSize="0"
				archiveDateFormat="to_be_overridden"
				 />

		<target name="console" xsi:type="Console"
				detectConsoleAvailable="true"
				layout="${time} [${level}] ${message}" />
	</targets>
</nlog>