<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<rules>
		<!-- Log all to file -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>

	<targets>
		<!-- Variables to be completed via Entity LogSettings.cs -->
		<target name="file" xsi:type="File"
				fileName="${gdc:logFilePath}"
				archiveFileName="${gdc:logArchivePath}" 
				archiveEvery="${gdc:archiveEvery}"
				archiveNumbering="${gdc:archiveNumbering}"
				maxArchiveFiles="${gdc:maxArchiveFiles}"
				archiveAboveSize="${gdc:archiveAboveSize}"
				archiveDateFormat="${gdc:archiveDateFormat}"
				enableArchiveCompression="true"
				layout="${longdate} [${level}] ${message}" />
	</targets>

</nlog>